*,
header li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.c-img,
.c-item {
    height: 400px
}

footer,
header {
    padding: 20px 0;
    text-align: center
}

footer ul,
header ul {
    display: flex;
    list-style: none
}

body,
footer ul {
    margin: 0;
    padding: 0
}

.btn-black,
footer div,
footer li a,
header {
    color: #fff
}

.btn-black,
footer,
footer li a:hover {
    background-color: #000
}

.main-title,
figure,
footer,
footer div,
footer ul,
header,
section {
    text-align: center
}

#aboutArea img,
#models table,
img {
    max-width: 100%
}

header img,
img {
    height: auto;
    display: block
}

* {
    box-sizing: border-box
}

body {
    background-color: #b1b1b1;
    transition: background-color .5s ease-in-out
}

header {
    transition: .3s ease-in-out
}

header img {
    width: 120px
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center
}

header ul {
    gap: 30px
}

header li a {
    color: #857b7b;
    text-decoration: dotted;
    padding: 10px;
    border-radius: 5px
}

header li a:hover {
    transition: .1s;
    text-decoration: underline;
    cursor: pointer;
    background-color: #020202
}

.c-img {
    object-fit: cover
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

section {
    width: 100vw;
    position: relative
}

section>div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center
}

#section3 .flex-card {
    flex: 1;
    max-width: 100%
}

section a {
    margin: auto;
    transition: .5s;
    text-decoration: none
}

section a:hover {
    background-color: #5f5f5f;
    border-radius: 10px;
    transition: .5s
}

#aboutArea .container {
    max-width: 700px
}

#aboutArea img {
    height: auto;
    margin: 25px auto 0
}

#aboutArea .aboutTitle {
    margin-top: 20px;
    font-size: 24px
}

.main-title {
    color: #000;
    margin: 0 0 65px;
    font-size: 40px
}

.main-title::after {
    content: "";
    border-top: 2px solid #000;
    width: 15%;
    position: absolute;
    top: 80px;
    left: 42.5%
}

.aboutTitle {
    font-size: 17px;
    color: #000;
    font-weight: 700
}

#aboutArea p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    margin-right: 20px
}

footer {
    display: flex;
    justify-content: center;
    color: #000;
    position: sticky;
    margin: auto
}

footer div {
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    flex-direction: row;
    align-items: normal;
    gap: 30px
}

footer p {
    font-size: larger
}

footer>a {
    display: flex;
    align-items: center;
    justify-items: center
}

footer ul {
    bottom: 0;
    flex-direction: column;
    gap: 10px
}

footer li a:hover {
    text-decoration: underline;
    transition: .2s
}

figure {
    padding: 10px;
    margin: 10px
}

img {
    margin: 0 auto
}

img[loading=lazy] {
    display: block;
    filter: blur(.2px)
}

figure img {
    max-width: 70%
}

@media only screen and (max-width:576px) {
    #section3 .flex-card h5.card-title {
        font-size: 18px;
        margin-bottom: 5px
    }

    #section3 .flex-card p {
        font-size: 16px;
        margin-bottom: 10px
    }

    #section3 .flex-card .btn-primary {
        font-size: 14px
    }

    #section3 .flex-card img {
        max-width: 100%;
        height: auto
    }

    #section3 .flex-card {
        flex: 1 0 100%;
        margin-bottom: 20px
    }
}

@media only screen and (max-width:767px) {
    header {
        padding: 10px 0
    }

    header div {
        flex-direction: column;
        gap: 10px
    }

    header ul {
        justify-content: center;
        margin-top: 10px
    }

    header li {
        margin: 0
    }
}